<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Agenda
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div>
                    <ul class='flex cursor-pointer'>
                        <li v-for="(item, key) in tabs"
                            :class="{ 'text-gray-500 bg-gray-200': key !== activeTab }"
                            class='py-2 px-6 bg-white rounded-t-lg'
                            @click="switchTab(key)"
                        >
                            {{ item }}
                        </li>
                    </ul>
                </div>
                <div class="bg-white">
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
                        <component :is="activeComponent"></component>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetButton from '@/Jetstream/Button';
import MeetingAgenda from '@/Pages/MeetingAgenda';
import Todo from '@/Pages/Todo';
import Issues from '@/Pages/Issues';

export default {
    name: "Agenda",
    components: {
        AppLayout,
        JetButton,
        MeetingAgenda,
        Todo,
        Issues,
    },
    data() {
      return {
          activeTab: 0,
          activeComponent: 'MeetingAgenda',
          tabs: ['Agenda', 'Todo', 'Issues']
      }
    },
    methods: {
        switchTab(key) {
          this.activeTab = key;
          this.getActiveComponent();
        },
        activeTabs() {
            return ''
        },
        getActiveComponent() {
          switch (this.activeTab) {
              case 0:
                  this.activeComponent = 'MeetingAgenda';
                  break;
              case 1:
                  this.activeComponent = 'Todo';
                  break;
              case 2:
                  this.activeComponent = 'Issues';
                  break;
              default:
                  return 'MeetingAgenda';
          }
        },
    }
}
</script>

<style scoped>

</style>
