<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex flex-row flex-wrap">
                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-green-400 to-blue-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>

                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>

                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-red-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>

                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-red-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>

                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-green-400 to-blue-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>

                    <div class="w-2/6 px-2 pb-2">
                        <div class="bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-white p-3">
                            <h3 class="uppercase font-bold">Total</h3>
                            <p class="text-3xl font-bold">345</p>
                        </div>
                    </div>




                </div>

                <div class="flex flex-row flex-wrap">
                    <div class="overflow-hidden sm:rounded-lg w-4/6 px-2">
                        <div class="bg-white p-5">
                            <apexchart :width="chart.width" :height="300" :type="chart.type" :options="chart.options" :series="chart.series"></apexchart>
                        </div>

                    </div>
                    <div class="overflow-hidden sm:rounded-lg w-2/6 px-2">
                        <div class="bg-white p-5">
                            <apexchart :width="chart3.width" :height="500" :type="chart3.type" :options="chart3.options" :series="chart3.series"></apexchart>
                        </div>
                    </div>
                    <div class="overflow-hidden sm:rounded-lg w-full px-2 mt-5">
                        <div class="bg-white p-5">
                            <apexchart :width="chart2.width" :height="300" :type="chart2.type" :options="chart2.options" :series="chart2.series"></apexchart>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
    import AppLayout from '@/Layouts/AppLayout'
    import Welcome from '@/Jetstream/Welcome'

    export default {
        components: {
            AppLayout,
            Welcome,
        },
        props: {
            chart: Object,
            chart2: Object,
            chart3: Object,
        }
    }
</script>
