<template>
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Issues
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            List of Issues and Opportunities
        </p>
    </div>
    <div class="border-t border-gray-200 p-7">
        <div class="flex flex-row justify-end items-center">
            <jet-button>Add Issues</jet-button>
        </div>


        <div class="flex flex-col mt-7">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Agenda
                                </th>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Assignee
                                </th>
                                <th scope="col" class="relative px-6 py-3">

                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="i in 5">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <p>Agenda {{ i }}</p>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <p>Karlo</p>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap flex justify-center items-center">
                                    <button class="ml-3 inline-flex items-center px-4 py-2 bg-green-500 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-green-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray disabled:opacity-25 transition">
                                        <i class="fas fa-check"></i>
                                    </button>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a> |
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Delete</a>
                                </td>
                            </tr>

                            <!-- More items... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>


<script>
import JetButton from '@/Jetstream/Button';

export default {
    name: "Issues",
    components: {
        JetButton
    }
}
</script>

<style scoped>

</style>
