<template>
    <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
            Meeting Agenda
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
            List of Agendas
        </p>
    </div>
    <div class="border-t border-gray-200 p-7">
        <div class="bg-yellow-50 p-4 rounded flex items-start text-yellow-600 my-4 border border-yellow-200  mx-auto w-full">
            <div class="text-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="fill-current w-5" viewBox="0 0 24 24">
                    <path d="M12 1l-12 22h24l-12-22zm-1 8h2v7h-2v-7zm1 11.25c-.69 0-1.25-.56-1.25-1.25s.56-1.25 1.25-1.25 1.25.56 1.25 1.25-.56 1.25-1.25 1.25z"/>
                </svg>
            </div>
            <div class=" px-3">
                <p class="text-yellow-700">
                    No agenda for <strong>May, 5 2021</strong> Level 10 meeting
                </p>
            </div>
        </div>
        <div class="flex flex-row justify-between items-center">
            <input type="date" class="border border-gray-300 rounded text-gray-600 h-10 pl-5 pr-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
            <jet-button>Add Agenda</jet-button>
        </div>


        <div class="flex flex-col mt-7">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                        <table class="min-w-full divide-y divide-gray-200">
                            <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Agenda
                                </th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Edit</span>
                                </th>
                            </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-gray-200">
                            <tr v-for="i in 5">
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <p>Agenda {{ i }}</p>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a> |
                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Delete</a>
                                </td>
                            </tr>

                            <!-- More items... -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import JetButton from '@/Jetstream/Button';

export default {
    name: "MeetingAgenda",
    components: {
        JetButton,
    }
}
</script>

<style scoped>

</style>
