<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Meeting
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex justify-between items-center mb-4">
                    <jet-button v-if="isActiveAddMeeting" class="bg-gray-200" @click="goBack">
                        Back
                    </jet-button>
                    <jet-button v-else @click="showAddMeetingRating">
                        Add Meeting Rating
                    </jet-button>
                </div>
                <div v-if="!isActiveAddMeeting" class="bg-white">
                    <div class="px-4 py-5 sm:px-6">
                        <h3 class="text-lg leading-6 font-medium text-gray-900">
                            Meeting Ratings
                        </h3>
                        <p class="mt-1 max-w-2xl text-sm text-gray-500">
                            Meeting ratings summary
                        </p>
                    </div>
                    <div class="border-t border-gray-200 p-5">
                        <div class="my-4 flex flex-row items-center justify-center">
                            <div class="flex flex-row items-center">
                                <div class="flex flex-col items-center mr-3">
                                    <label class="uppercase text-xs font-bold">From:</label>
                                    <input type="date" class="border border-gray-300 rounded text-gray-600 h-10 pl-5 pr-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                </div>
                                <div class="flex flex-col items-center">
                                    <label class="uppercase text-xs font-bold">To:</label>
                                    <input type="date" class="border border-gray-300 rounded text-gray-600 h-10 pl-5 pr-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                </div>
                            </div>
                        </div>

                        <div class="flex mt-16">
                            <div class="w-4/12">
                                <apexchart :width="chart.width" :height="300" :type="chart.type" :options="chart.options" :series="chart.series"></apexchart>

                                <div class="mt-10">
                                    <div class="container flex mx-auto w-full items-center justify-center">

                                        <ul class="flex flex-col bg-gray-200 p-4">
                                            <li class="border-gray-400 flex flex-row mb-2">
                                                <div class="select-none cursor-pointer bg-white rounded-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                                                    <div class="flex flex-col rounded-md w-10 h-10 bg-indigo-500 justify-center items-center mr-4 text-white">10</div>
                                                    <div class="flex-1 pl-1 mr-16">
                                                        <div class="font-medium">Perfect Experience</div>
                                                        <div class="text-gray-600 text-sm">No problems at all</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="border-gray-400 flex flex-row mb-2">
                                                <div class="select-none cursor-pointer bg-white rounded-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                                                    <div class="flex flex-col rounded-md w-10 h-10 bg-red-400 justify-center items-center mr-4 text-white">9</div>
                                                    <div class="flex-1 pl-1 mr-16">
                                                        <div class="font-medium">Very Good</div>
                                                        <div class="text-gray-600 text-sm">Almost everything was good</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="border-gray-400 flex flex-row mb-2">
                                                <div class="select-none cursor-pointer bg-white rounded-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                                                    <div class="flex flex-col rounded-md w-10 h-10 bg-yellow-500 justify-center items-center mr-4 text-white">8</div>
                                                    <div class="flex-1 pl-1 mr-16">
                                                        <div class="font-medium">Good</div>
                                                        <div class="text-gray-600 text-sm">Some parts are not clear</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="border-gray-400 flex flex-row mb-2">
                                                <div class="select-none cursor-pointer bg-white rounded-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                                                    <div class="flex flex-col rounded-md w-10 h-10 bg-green-300 justify-center items-center mr-4 text-white">7</div>
                                                    <div class="flex-1 pl-1 mr-16">
                                                        <div class="font-medium">Fair</div>
                                                        <div class="text-gray-600 text-sm">Some of elements are missing</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="border-gray-400 flex flex-row mb-2">
                                                <div class="select-none cursor-pointer bg-white rounded-md flex flex-1 items-center p-4  transition duration-500 ease-in-out transform hover:-translate-y-1 hover:shadow-lg">
                                                    <div class="flex flex-col rounded-md w-10 h-10 bg-blue-500 justify-center items-center mr-4 text-white">6</div>
                                                    <div class="flex-1 pl-1 mr-16">
                                                        <div class="font-medium">Poor</div>
                                                        <div class="text-gray-600 text-sm">I don't understand everything</div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="w-8/12 pl-10">
                                <div class="flex flex-col">
                                    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                <table class="min-w-full divide-y divide-gray-200">
                                                    <thead class="bg-gray-50">
                                                    <tr>
                                                        <td scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            Name
                                                        </td>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            6
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            7
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            8
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            9
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            10
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="bg-white divide-y divide-gray-200">
                                                    <tr v-for="i in 8">
                                                        <td class="px-6 py-4 whitespace-nowrap">
                                                            <div class="flex items-center">
                                                                <div class="flex-shrink-0 h-10 w-10">
                                                                    <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=4&w=256&h=256&q=60" alt="">
                                                                </div>
                                                                <div class="ml-4">
                                                                    <div class="text-sm font-medium text-gray-900">
                                                                        Jane Cooper
                                                                    </div>
                                                                    <div class="text-sm text-gray-500">
                                                                        jane.cooper@example.com
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="px-6 py-4 whitespace-nowrap">0</td>
                                                        <td class="px-6 py-4 whitespace-nowrap">0</td>
                                                        <td class="px-6 py-4 whitespace-nowrap">8</td>
                                                        <td class="px-6 py-4 whitespace-nowrap">23</td>
                                                        <td class="px-6 py-4 whitespace-nowrap">8</td>
                                                    </tr>

                                                    <!-- More items... -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <component :is="activeComponent"></component>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import JetButton from '@/Jetstream/Button'
import AddMeetingRating from "@/Pages/AddMeetingRating";
import MeetingRatingTable from "@/Pages/MeetingRatingTable";

export default {
    name: "MeetingRatings",
    components: {
        AppLayout,
        JetButton,
        AddMeetingRating,
        MeetingRatingTable,
    },
    props: {
        chart: Object,
    },
    data() {
        return {
            activeComponent: 'MeetingRatingTable',
            isActiveAddMeeting: false,
        }
    },
    methods: {
        goBack() {
            this.activeComponent = 'MeetingRatingTable';
            this.isActiveAddMeeting = false;
        },
        showAddMeetingRating() {
            this.isActiveAddMeeting = true;
            this.activeComponent = 'AddMeetingRating';
        }
    }
}
</script>

<style scoped>

</style>
