<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Previous Rocks
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="">
                    <div class="my-4 flex flex-row items-center justify-center">
                        <div class="flex flex-row items-center">
                            <div class="flex flex-col items-center mr-3">
                                <label class="uppercase text-xs font-bold">Year</label>
                                <select class="border w-32 border-gray-300 rounded text-gray-600 h-10 pl-5 pr-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                    <option value="x">2021</option>
                                    <option selected value="x">2020</option>
                                    <option value="x">2019</option>
                                </select>
                            </div>
                            <div class="flex flex-col items-center">
                                <label class="uppercase text-xs font-bold">Quarter</label>
                                <select class="border w-32 border-gray-300 rounded text-gray-600 h-10 pl-5 pr-5 bg-white hover:border-gray-400 focus:outline-none appearance-none">
                                    <option value="x">1st</option>
                                    <option value="x">2nd</option>
                                    <option value="x">3rd</option>
                                    <option selected value="x">4th</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="bg-white shadow overflow-hidden sm:rounded-lg mb-5">
                        <div class="px-4 py-5 sm:px-6">
                            <h3 class="text-lg leading-6 font-medium text-gray-900">
                                4th Quarter
                            </h3>
                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                2020
                            </p>
                        </div>


                        <div class="border-t border-gray-200">
                            <div class="p-5">
                                <div class="flex flex-row">
                                    <div class="w-3/12">
                                        <div class="flex flex-row justify-between items-center">
                                            <ul class="w-full">
                                                <li v-for="i in 5" class="bg-gray-100 hover:bg-gray-200 w-full p-3 rounded cursor-pointer mb-2">
                                                    <div class="flex items-center">
                                                        <div class="flex-shrink-0 h-10 w-10">
                                                            <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80" alt="">
                                                        </div>
                                                        <div class="ml-4">
                                                            <div class="text-sm font-medium text-gray-900">
                                                                Karlo
                                                            </div>
                                                            <div class="text-sm text-gray-500">
                                                                karlo@collabagency.com.au
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                    <div class="w-9/12">
                                        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                                <table class="min-w-full divide-y divide-gray-200">
                                                    <thead class="bg-gray-50">
                                                    <tr>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            Item
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            By When
                                                        </th>
                                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                            Status
                                                        </th>
                                                        <th scope="col" class="relative px-6 py-3">
                                                            <span class="sr-only">Edit</span>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="bg-white divide-y divide-gray-200">
                                                    <tr v-for="i in 5">
                                                        <td class="px-6 py-4 whitespace-nowrap">
                                                            <p>Hubspot CMS Certification</p>
                                                        </td>
                                                        <td class="px-6 py-4 whitespace-nowrap">
                                                            <p>2020-12-31</p>
                                                        </td>
                                                        <td class="px-6 py-4 whitespace-nowrap">
                                                            <span
                                                                class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight text-xs">
                                                                <span aria-hidden
                                                                      class="absolute inset-0 opacity-50 rounded-full bg-yellow-300"></span>
                                                                <span class="relative">🏆 Completed</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout';
import JetButton from '@/Jetstream/Button'

export default {
    name: "PreviousRocks",
    components: {
        AppLayout,
        JetButton
    }
}
</script>

<style scoped>

</style>
