<template>
    <app-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Rocks
            </h2>
        </template>

        <div class="py-12">
            <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
                <div class="flex justify-end items-center mb-10">
                    <jet-button @click="goToPreviousRocks">
                        View previous ROCKS
                    </jet-button>
                </div>

                <div v-for="value in members" class="bg-white shadow overflow-hidden sm:rounded-lg mb-5">
                    <div class="px-4 py-5 sm:px-6">
                        <div class="flex flex-row justify-between items-center">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 h-10 w-10">
                                    <img class="h-10 w-10 rounded-full" :src="value.img" alt="">
                                </div>
                                <div class="ml-4">
                                    <div class="text-sm font-medium text-gray-900">
                                        {{ value.name }}
                                    </div>
                                    <div class="text-sm text-gray-500">
                                        {{ value.email }}
                                    </div>
                                </div>
                            </div>

                            <div>
                                <jet-button @click="addNewItem">Add Item</jet-button>
                            </div>
                        </div>
                    </div>
                    <div class="border-t border-gray-200">
                        <div class="flex flex-col">
                            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                                <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                                    <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                        <table class="min-w-full divide-y divide-gray-200">
                                            <thead class="bg-gray-50">
                                            <tr>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Todo
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    By When
                                                </th>
                                                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                    Status
                                                </th>
                                                <th scope="col" class="relative px-6 py-3">
                                                    <span class="sr-only">Edit</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody class="bg-white divide-y divide-gray-200">
                                            <tr v-if="items.length >= 1" v-for="(value, key) in items">
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <p>{{ value.todo }}</p>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <p>{{ value.by_when }}</p>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <span
                                                        class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight text-xs">
                                                        <span aria-hidden
                                                              class="absolute inset-0 opacity-50 rounded-full" :class="getStatus(value.status).bgColor"></span>
                                                        <span class="relative">{{ getStatus(value.status).text }}</span>
                                                    </span>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                    <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a> |
                                                    <a @click="deleteItem(key)" href="#" class="text-gray-400 hover:text-gray-600">Delete</a>
                                                </td>
                                            </tr>
                                            <tr v-else>
                                                <td colspan="4">
                                                    <p class="text-center p-4">No items</p>
                                                </td>
                                            </tr>
                                            <tr v-if="newItem">
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <input type="text" class="w-full" v-model="todo">
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <input type="date" class="w-full" v-model="due_date">
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap">
                                                    <select v-model="status">
                                                        <option value="1">On Track</option>
                                                        <option value="2">Off Track</option>
                                                        <option value="3">Completed</option>
                                                    </select>
                                                </td>
                                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                    <a @click="cancelNewItem" href="#" class="mr-2 inline-flex items-center px-4 py-2 bg-gray-200 border border-transparent rounded-md font-semibold text-xs text-gray-500 uppercase tracking-widest hover:bg-gray-100 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray disabled:opacity-25 transition">
                                                        Cancel
                                                    </a>
                                                    <a @click="saveNewItem" href="#" class="inline-flex items-center px-4 py-2 bg-green-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-green-500 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:shadow-outline-gray disabled:opacity-25 transition">
                                                        Save
                                                    </a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import AppLayout from '@/Layouts/AppLayout'
import Welcome from '@/Jetstream/Welcome'
import JetButton from '@/Jetstream/Button'
import Modal from "@/Jetstream/Modal";
import JetDropdown from '@/Jetstream/Dropdown'

export default {
    components: {
        AppLayout,
        Welcome,
        JetButton,
        Modal,
        JetDropdown
    },
    data() {
        return {
            newItem: false,
            todo: null,
            due_date: null,
            status: null,
            members: [
                {
                    name: 'Karlo Dela Rosa',
                    email: 'karlo@example.com',
                    img: 'https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80'
                },
                {
                    name: 'Jane Cooper',
                    email: 'jane.cooper@example.com',
                    img: 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80'
                },
                {
                    name: 'John Doe',
                    email: 'john.doe@example.com',
                    img: 'https://images.unsplash.com/photo-1540845511934-7721dd7adec3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80'
                },
                {
                    name: 'Jane Cooper',
                    email: 'jane.cooper@example.com',
                    img: 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80'
                },
            ],
            items: [
                {
                    'todo': 'Hubspot CMS Certification',
                    'by_when': '2021-03-31',
                    'status': 1
                },
                {
                    'todo': 'Complete Hubspot Projects (LP, eDM, HubDB)',
                    'by_when': '2021-03-31',
                    'status': 1
                },
                {
                    'todo': 'QA Dev Jobs',
                    'by_when': '2021-03-31',
                    'status': 2
                },
                {
                    'todo': 'Complete Google Web Dev Certification',
                    'by_when': '2021-03-31',
                    'status': 1
                },
            ]
        }
    },
    methods: {
        goToPreviousRocks() {
            location.replace('/previousRocks');
        },
        getStatus(key) {
            if (key === 1) {
                return {
                    'bgColor': 'bg-green-200',
                    'text': 'On Track'
                }
            } else if (key === 2) {
                return {
                    'bgColor': 'bg-red-200',
                    'text': 'Off Track'
                }
            }
        },
        addNewItem() {
            this.newItem = true;
        },
        cancelNewItem() {
            this.newItem = false;
        },
        saveNewItem() {
            this.items.push({
               'todo': this.todo,
               'by_when': this.due_date,
               'status': this.status,
            });

            this.newItem = false;
            this.todo = '';
            this.due_date = '';
            this.status = '';
        },
        deleteItem(key) {
            this.items.splice(key, 1);
        }
    },
}
</script>
