<template>
    <div>
        <highcharts-vue :options="chartOptions" ref="lineCharts"></highcharts-vue>
    </div>
</template>

<script>
    import JetApplicationLogo from '@/Jetstream/ApplicationLogo'
    import {Chart} from 'highcharts-vue'

    export default {
        components: {
            JetApplicationLogo,
            highcharts: Chart
        },
        data () {
            return {
                updateArgs: [true, true, { duration: 1000 }],
                chartOptions: {
                    xAxis: {
                        type: 'datetime'
                    },
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Total Number of Listens'
                    },
                    series: [{
                        data: this.points,
                        color: '#6fcd98'
                    }]
                }
            }
        }
    }
</script>
